include ../partials/header.pug

div.card.container-md.party_details
  div.card-body
    div.text-center
      h1.mb-3 Qui prend quoi ?
      h3.card-title #{party.name} le #{new Date(party.date).toLocaleDateString('fr-FR')}
      p Crée par #{party.author}

      ul.list-group
        each item in party.items
          li.list-group-item #{item.user} ramene #{item.name}
            form(method="post" action=`/party/${party._id}/items/${item._id}?_method=DELETE`).ml-3
              button(type="submit" class="btn btn-danger")
                i.fa.fa-trash

    h3.text-center.mt-3.mb-3 Amener Quelque chose
    form(method="post" action=`/party/${party._id}/items`).mb-3
      div.form-group
        abel(for="name") Objet
        input(type="text" name="name" id="name" required placeholder="Champagne").form-control
      div.form-group
        abel(for="user") Nom de l'invité
        input(name="user" id="user" required placeholder="Jean").form-control
      button(type="submit" class="btn btn-primary mb-3") Ajouter

    form(method="post" action=`/party/${party._id}?_method=DELETE`).mb-3
      button(type="submit").btn.btn-danger Supprimer l'évenement

    input(id="url" class="share_button" value=`${url}` data-clipboard=`${url}` data-share-url=`${url}` 
          data-share-title=`${party.name}` data-share-text=`${party.author} vous invites a rejoindre l'événement ${party.name}`)

script.
  party = !{JSON.stringify(party)}